#
# schrittmacher config
#
group = core
local-address = 10.2.1.88
remote-address = 10.2.1.69
shared-address = 10.2.1.99
http-port       = 7700
port            = 7700

group = resource
name = smsc-1
start-action = "kill -10 `cat /var/run/MessageMover/i400.pid`"
stop-action = "kill -12 `cat /var/run/MessageMover/i400.pid`"
interface-activate = ip addr add 10.2.1.99/24    dev eth0 label eth0:9
interface-deactivate = ip addr del 110.2.1.99/24 dev eth0 label eth0:9

#osx
#interface-activate = ifconfig en3 alias 85.195.199.57 netmask 255.255.255.0
#interface-deactivate = ifconfig en3 -alias 85.195.199.57

